Questions 1:
How to import pandas and check the version?

In [30]:
#importing pandas liberary
import pandas as pd
#here pd is the alias for pandas

#Pandas version
print('Pandas version:', pd.__version__)

Pandas version: 1.1.4

Questions 2:
How to create a series from a numpy array?

In [31]:
import numpy as np
import pandas as pd

num_array = np.array([12, 56, 69, 4, 5])
print('Array:', num_array,)

#Conerting array to series
series = pd.Series(num_array)
print('\nSeries:\n', series)

Array: [12 56 69  4  5]

Series:
 0    12
1    56
2    69
3     4
4     5
dtype: int64

Questions 3:
How to convert the index of a series into a column of a dataframe?

In [27]:
import pandas as pd 

df = pd.DataFrame({'ID_Number': ['Car29', 'Car49', 'Car36', 'Car44'], 
				'Name': ['Chverolate', 'ford', 'Kia', 'Hyundai'], 
				'Average': [37, 40, 50, 42], 
				'Grade': ['C', 'B', 'A', 'B']}) 

# Printing the dataframe 
df['index'] = df.index
df

  ID_Number        Name  Average Grade  index
0     Car29  Chverolate       37     C      0
1     Car49        ford       40     B      1
2     Car36         Kia       50     A      2
3     Car44     Hyundai       42     B      3

Questions 4:
Write the code to list all the datasets available in seaborn library.
Load the 'mpg' dataset
Note: mpg dataset will be read from seaborn module in the manner sir has already shown(provided in the
materials folder)

In [19]:
# importing seaborn
import seaborn as sns

mpg = sns.load_dataset('mpg')

print(mpg)

      mpg  cylinders  ...  origin                       name
0    18.0          8  ...     usa  chevrolet chevelle malibu
1    15.0          8  ...     usa          buick skylark 320
2    18.0          8  ...     usa         plymouth satellite
3    16.0          8  ...     usa              amc rebel sst
4    17.0          8  ...     usa                ford torino
..    ...        ...  ...     ...                        ...
393  27.0          4  ...     usa            ford mustang gl
394  44.0          4  ...  europe                  vw pickup
395  32.0          4  ...     usa              dodge rampage
396  28.0          4  ...     usa                ford ranger
397  31.0          4  ...     usa                 chevy s-10

[398 rows x 9 columns]

Questions 5:
Which country origin cars are a part of this dataset?

In [28]:
# importing seaborn
import seaborn as sns
# importing pandas with alias name
import pandas as pd

# loading the dataset from seaborn
mpg = sns.load_dataset('mpg')

# Displaying the country origin from where cars belong
mpg.origin.unique()

array(['usa', 'japan', 'europe'], dtype=object)

Questions 6:
Extract the part of the dataframe which contains cars belonging to 'usa'

In [40]:
import seaborn as sns
import pandas as pd

dataset = sns.load_dataset('mpg')

#creating dataframe
df = pd.DataFrame(mpg)

#extracting the required data
df[df['origin'].str.contains('usa')]

      mpg  cylinders  ...  origin                       name
0    18.0          8  ...     usa  chevrolet chevelle malibu
1    15.0          8  ...     usa          buick skylark 320
2    18.0          8  ...     usa         plymouth satellite
3    16.0          8  ...     usa              amc rebel sst
4    17.0          8  ...     usa                ford torino
..    ...        ...  ...     ...                        ...
392  27.0          4  ...     usa           chevrolet camaro
393  27.0          4  ...     usa            ford mustang gl
395  32.0          4  ...     usa              dodge rampage
396  28.0          4  ...     usa                ford ranger
397  31.0          4  ...     usa                 chevy s-10

[249 rows x 9 columns]